<div class="row">
  <div class="col-sm-8">
    <h1><%= t('user.edit_account') %></h1>
    <div class="well">
    <%= form_for(resource, :as => resource_name,
    :url => registration_path(resource_name),
    :html => { :method => :put, role: "form" }) do |f| %>

    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :firstname, t('user.firstname') %>
      <div class="row">
          <%= f.text_field :firstname, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :lastname, t('user.lastname') %>
      <div class="row">
          <%= f.text_field :lastname, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :locale, t('user.locale') %>
      <div class="row">
          <%= select_tag :locale, options_for_select([['english', 'en'], ['deutsch', 'de']], I18n.locale), name: "user[locale]", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, t('user.email') %>
      <div class="row">
          <%= f.email_field :email, :autofocus => true, class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="row">
        <p><%= t('user.waiting_for_confirm') %>: <%= resource.unconfirmed_email %></p>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :password, t('user.new_password') %> <i><small>(<%= t('user.leave_blank') %>)</small></i>
      <div class="row">
          <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, t('user.new_password_confirm') %>
      <div class="row">
          <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password, t('user.current_password') %> <i><small>(<%= t('user.confirm_explaination') %>)</small></i>
      <div class="row">
          <%= f.password_field :current_password, class: "form-control" %>
      </div>
    </div>

    <div class="row">
        <%= f.submit t('save_changes'), class: "btn btn-primary" %> <%= link_to t('cancel'), :back, class: "btn btn-default" %>
    </div>

    <% end %>

  </div>
  </div>
</div>
