<% if @report.errors.any? %>
<ul>
  <% @report.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for [@report], role: "form" do |f| %>

<%= f.hidden_field :title, :autofocus => true, class: "form-control monospaced-control", placeholder: "Title (also used for URL slug)..." %>

<div class="form-group">
  <%= f.label :workday, "Day" %>
  <div class='input-group date' id='workday_picker'>
    <input type='text' class="form-control" name='report[workday]' value='<%= if defined? @report.workday.strftime then @report.workday.strftime("%Y-%m-%d") else '' end %>>' />
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#workday_picker').datetimepicker({
              format: 'YYYY-MM-DD'
          });
      });
  </script>
</div>

<div class="form-group">
  <%= f.label :worked_from, "Work started at" %>
  <div class='input-group date' id='worked_from_picker'>
    <input type='text' class="form-control" name='report[worked_from]' value='<%= if defined? @report.worked_from.strftime then @report.worked_from.strftime("%R") else '' end %>>' />
<span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"></span>
</span>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#worked_from_picker').datetimepicker({
              format: 'HH:mm'
          });
      });
  </script>
</div>

<div class="form-group">
  <%= f.label :worked_until, "Work done at" %>
  <div class='input-group date' id='worked_until_picker'>
    <input type='text' class="form-control" name='report[worked_until]' value='<%= if defined? @report.worked_until.strftime then @report.worked_until.strftime("%R") else '' end %>>' />
<span class="input-group-addon">
    <span class="glyphicon glyphicon-calendar"></span>
</span>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#worked_until_picker').datetimepicker({
              format: 'HH:mm'
          });
      });
  </script>
</div>

<%= f.label :note %>
<div class="row">
  <div class="col-xs-12">
    <%= f.text_field :note, :autofocus => true, class: "form-control monospaced-control", placeholder: "Note about that day (Optional)..." %>
  </div>
</div>

<div class="form-group">
  <%= f.label :content_md, "Content" %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_area :content_md, rows: 15, class: "form-control monospaced-control", placeholder: "Workday description (Markdown format)..." %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xs-12">
      <%= f.check_box :draft %> <%= f.label :draft, "draft" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 padded">
    <button class='btn btn-primary'>
      <i class='fa fa-plus-square'></i> Publish
    </button> - <%= link_to "Cancel", reports_dashboard_path %>
  </div>
</div>

<% end %>
