<table class="table table-hover table-striped" id="tableMonth">
  <thead>
  <tr>
    <th>Date</th>
    <th>Weekday</th>
    <th>From</th>
    <th>Until</th>
    <th>Duration</th>
    <th>Note</th>
  </tr>
  </thead>
  <tbody>
  <% @days.each do |day| %>
      <% if report = @reports.where(workday: day).first %>
          <tr>
            <td><%= link_to report.title, edit_report_path(report.id) %></td>
            <td><%= report.workday.strftime('%A') %></td>
            <td><%= report.worked_from %></td>
            <td><%= report.worked_until %></td>
            <td><%= Time.at(report.worked_seconds).utc.strftime("%H:%M:%S") unless report.worked_seconds == 0 %></td>
            <td><%= report.note %></td>
          </tr>
      <% else %>
          <tr>
            <td><%= link_to day, new_report_path(workday: day) %></td>
            <td><%= Date.parse(day).strftime('%A') %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
