<%# TODO make this less hacky %>
<% balance = current_user.reports.where("workday < '#{@days.last}'").balance %>
<% if balance > 0 %>
    <div class="panel panel-success">
      <div class="panel-heading text-right">
        Balance: <%= Time.at(balance).utc.strftime("%H:%M") %>
<% else %>
    <div class="panel panel-danger">
      <div class="panel-heading text-right">
        Balance: -<%= Time.at(-balance).utc.strftime("%H:%M") %>
<% end %>
</div>
</div>

<table class="table table-hover" id="tableMonth">
  <thead>
  <tr>
    <th>Date</th>
    <th>Weekday</th>
    <th>From</th>
    <th>Until</th>
    <th>Duration</th>
    <th>Note</th>
  </tr>
  </thead>
  <tbody style="cursor: pointer;">
  <% @days.each do |day| %>
      <% if report = current_user.reports.where(workday: day).first %>
        <% weekday = report.workday.strftime('%A') %>
        <% if %w(Saturday Sunday).include? weekday %>
          <tr class="active" data-link="<%= edit_report_path(report.id) %>">
        <% else %>
          <tr data-link="<%= edit_report_path(report.id) %>">
        <% end %>
            <td><%= report.title %></td>
            <td><%= weekday %></td>
            <td><%= report.worked_from %></td>
            <td><%= report.worked_until %></td>
            <td><%= Time.at(report.worked_seconds).utc.strftime("%H:%M") unless report.worked_seconds == 0 %></td>
            <td><%= report.note %></td>
          </tr>
      <% else %>
          <% weekday = Date.parse(day).strftime('%A') %>
          <% if %w(Saturday Sunday).include? weekday %>
              <tr class="active" data-link="<%= new_report_path(workday: day) %>">
          <% else %>
              <tr data-link="<%= new_report_path(workday: day) %>">
          <% end %>
            <td><%= day %></td>
            <td><%= weekday %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
