<% balance = current_user.reports.where("workday < '#{@days.last}'").balance %>
<% if balance >= 0 %>
<div class="panel panel-success">
  <div class="panel-heading text-right">
    <%= t(:balance) %>: <%= Time.at(balance).utc.strftime("%H:%M") %>
<% else %>
<div class="panel panel-danger">
  <div class="panel-heading text-right">
    <%= t(:balance) %>: -<%= Time.at(-balance).utc.strftime("%H:%M") %>
<% end %>
  </div>
</div>

<div class="well">
<table class="table table-hover table-condensed" id="tableMonth">
  <thead>
  <tr>
    <th><%= t(:day) %></th>
    <th><%= t(:weekday) %></th>
    <th><%= t(:from) %></th>
    <th><%= t(:until) %></th>
    <th><%= t(:duration) %></th>
    <th><%= t(:note) %></th>
  </tr>
  </thead>
  <tbody style="cursor: pointer;">
  <% @days.each do |day| %>
      <% if report = current_user.reports.where(workday: day).first %>
        <% weekday = l(report.workday, format: '%A') %>
        <% if [0, 6].include? day.to_date.wday %>
          <tr class="active" data-link="<%= edit_report_path(report.id) %>">
        <% else %>
          <tr data-link="<%= edit_report_path(report.id) %>">
        <% end %>
            <td><%= report.title %></td>
            <td><%= weekday %></td>
            <td><%= report.worked_from %></td>
            <td><%= report.worked_until %></td>
            <td><%= Time.at(report.worked_seconds).utc.strftime("%H:%M") unless report.worked_seconds == 0 %></td>
            <td><%= report.note %></td>
          </tr>
      <% else %>
          <% weekday = l(day.to_date, format: '%A') %>
          <% if [0, 6].include? day.to_date.wday %>
              <tr class="active" data-link="<%= new_report_path(workday: day) %>">
          <% else %>
              <tr data-link="<%= new_report_path(workday: day) %>">
          <% end %>
            <td><%= day %></td>
            <td><%= weekday %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
</div>