<% @weeks.each do |week, days| %>
  <h4>Week <%= week %></h4>
  <table class="table table-hover table-striped" class="tableWeek">
    <thead>
    <tr>
      <th width="10%">Day</th>
      <th>Report</th>
      <th width="10%">Duration</th>
    </tr>
    </thead>
    <tbody>
      <% days.each do |day| %>
        <% if (report = current_user.reports.where(workday: day).first) %>
          <tr>
            <td width="10%"><%= link_to day, edit_report_path(report.id) %>
              <br><%= report.workday.strftime('%A') %></td>
            <td><%= report.content_html.html_safe %></td>
            <td width="10%"><%= Time.at(report.worked_seconds).utc.strftime("%H:%M") unless report.worked_seconds == 0 %></td>
          </tr>
        <% else %>
          <tr>
            <td width="10%"><%= link_to day, new_report_path(workday: day) %>
              <br><%= Date.parse(day).strftime('%A') %></td>
            <td></td>
            <td width="10%"></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="page-break"></div>
<% end %>

