  <% @weeks.each do |week, days| %>
<table class="table table-hover table-striped" class="tableWeek">
    <thead>
    <tr>
      <th>Day</th>
      <th>Weekday</th>
      <th>Report</th>
      <th>Duration</th>
    </tr>
    </thead>
    <tbody>
      <% days.each do |day| %>
        <% if (report = @reports.where(workday: day).first) %>
          <tr>
            <td><%= link_to report.workday.strftime('%F'), edit_report_path(report.id) %></td>
            <td><%= link_to report.workday.strftime('%A'), edit_report_path(report.id) %></td>
            <td><%= report.content_html.html_safe %></td>
            <td><%= Time.at(report.worked_seconds).utc.strftime("%H:%M") %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= link_to day, new_report_path(workday: day) %></td>
            <td><%= Date.parse(day).strftime('%A') %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>

