<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if Rails.application.assets.find_asset 'navbar-brand.png' %>
        <%= link_to image_tag('navbar-brand.png', size: "60", alt: "Logo"), root_path, {class: 'navbar-brand'} %>
      <% else %>
        <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      <% end %>

    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%# render 'layouts/navigation_links' %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
            <li><%= link_to t('user.sign_in'), new_user_session_path %></li>
            <li><%= link_to t('user.sign_up'), new_user_registration_path %></li>
        <% else %>
            <li class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-user"></i>
                <%= current_user.firstname %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="userDropdownMenu">
                <li><%= link_to t('user.edit_account'), edit_user_registration_path %></li>
                <% if current_user.admin? %>
                    <li><%= link_to t('user.admin_settings'), admin_root_path %></li>
                <% end %>
                <li><%= link_to t('user.sign_out'), destroy_user_session_path, data:{method: :delete} %></li>
              </ul>
            </li>
        <% end %>
      </ul>
      <div id="clock"/>
    </div>
  </div>
</nav>
